out/
root*.log
ddb/
.dubbo
*.log

log/
a.bc
node_modules
jsx
GSYMS
GRTAGS
GTAGS
gtags.files
/tags
.DS_Store
*.swp
.svn
tools/publish/2*.txt
tools/publish/names.txt
tools/publish/names.json
tools/publish/2*.log
tools/publish/2*.txt
tools/publish/*.js
tools/publish/names.json
tools/publish/log.txt
tools/newPublish/2*.log
tools/newPublish/2*.txt
tools/newPublish/*.js
tools/newPublish/names.json
tools/newPublish/log.txt

tools/newestPublish/2*.log
tools/newestPublish/2*.txt
tools/newestPublish/*.js
tools/newestPublish/names.json
tools/newestPublish/log.txt

target/
.groovy/
.classpath
.metadata
.project
.settings
upload_temp_dir/
RemoteSystemsTempFiles
upload_temp_dir/
src/main/webapp/h
src/main/webapp/s
src/main/webapp/pub
bin/
.sass-cache
D:/
logs/
/test-output/
*~
.idea/
*.iml
localjetty.bat
npm-debug.log
*.map
*.reviewboardrc
/build/
disconf/
sh.exe.stackdump
${dubbo_registry_file}*
simple_jetty.bat
*.launch
.sonar/

omad-local-cqh/
build-local-cqh.xml

nei.21351.ad0f3cc325bfd54221547571406c4ddb/
mock/

## module-xxx
src/main/webapp/src/html/**/module-*/
src/main/webapp/res/component-*/
src/main/webapp/res/module-*/
src/main/webapp/lib
src/main/webapp/res/res-base/
src/main/webapp/src/html/views/
src/main/webapp/src/css/*
!src/main/webapp/src/css/admin

## build
compressed/
src/main/webapp/h/
src/main/webapp/s/
src/main/webapp/pub/

# npm+bower 缓存
.cache/
